
<div class="" id="mainContent">
    <div class="text-center" id="cardReportheader">
        <h4 class="mainTitle">PBS Parents || Experts Tips and Advice ||
            <hr>
        </h4>
    </div>
    <br>
    <div class="route-button">
        <a href="/scrape"><button id="scrape-button" type="button" class="btn btn-danger" >Scrape Articles</button></a>
        <a href="/saved"><button id="saved-button" type="button" class="btn btn-success">Saved Articles</button></a> 
    </div>
</div>